# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
# Generated data
19.Sieci_konwulcyjne/charts/
19.Sieci_konwulcyjne/dataset/
19.Sieci_konwulcyjne/history/

# Saved models
fashion_mnist_model_*.keras
19.Sieci_konwulcyjne\kagglecatsanddogs_5340.zip
